@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --font-sans: 'Poppins', sans-serif;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
  }
}

@keyframes slide-in {

  from {
    transform: translateX(100%);
    opacity: 0;}
    
  to {
    transform: translateX(0);
    opacity: 1;}
}